:root {
  --main-font: 'Gill Sans', 'Gill Sans MT', calibri, 'Trebuchet MS', sans-serif;
  --main-border: 3px solid black;
}

body {
  font-family: var(--main-font);
  height: 100vh;
  width: 99vw;
}

.big-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  height: 80vh;
  padding: 2rem;
}

.container-left {
  display: flex;
  flex-direction: column;
  width: 50vw;
  height: 60vh;
  align-items: center;
  justify-content: space-evenly;
  overflow-x: hidden;
}

.c1r1 {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  align-items: baseline;
}

.c1r2 {
  display: flex;
  flex-direction: column;
}

#leaderboard {
  max-height: 31rem;
  overflow-y: scroll;
  overflow-x: hidden;
  max-width: 22rem;
}

.scorer {
  border: var(--main-border);
  max-width: 20rem;
  list-style: none;
  padding: 15px;
  overflow-x: hidden;
}

.scorer:hover {
  max-width: 20.1rem;
  box-shadow: 5px 5px 5px black;
  z-index: 3;
  background-color: black;
  color: white;
  padding: 100px 0;
}

#refreshbtn {
  border: var(--main-border);
  box-shadow: 2px 2px 3px black;
  background: none;
  height: 2rem;
}

#refreshbtn:hover {
  background-color: black;
  color: white;
  box-shadow: 5px 5px 5px black;
}

.container-right {
  display: flex;
  flex-direction: column;
  width: 25vw;
  height: 55vh;
  justify-content: space-evenly;
  padding: 2.5vh 2.5vw;
}

#name {
  border: var(--main-border);
  background-color: white;
  padding: 1rem;
}

#name::placeholder {
  color: black;
  font-size: 1rem;
}

#name:hover {
  background-color: black;
  color: white;
}

#name:focus {
  background-color: black;
  color: white;
}

#score {
  border: var(--main-border);
  background-color: white;
  padding: 1rem;
}

#score::placeholder {
  color: black;
  font-size: 1rem;
}

#score:hover {
  background-color: black;
  color: white;
}

#score:focus {
  background-color: black;
  color: white;
}

#addbtn {
  border: var(--main-border);
  box-shadow: 3px 3px black;
  background-color: white;
  width: fit-content;
  align-self: flex-end;
}

#addbtn:hover {
  background-color: black;
  color: white;
  box-shadow: 4px 4px 5px black;
}

.msg {
  display: none;
}
