:root {
  --main-font: 'Gill Sans', 'Gill Sans MT', calibri, 'Trebuchet MS', sans-serif;
  --main-border: 3px solid black;
}

body {
  font-family: var(--main-font);
  height: 100vh;
  width: 99vw;
}

.big-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  height: 80vh;
  padding: 2rem;
}

.container-left {
  display: flex;
  flex-direction: column;
  width: 40vw;
  height: 60vh;
  align-items: center;
  justify-content: space-evenly;
}

.c1r1 {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  align-items: baseline;
}

.c1r2 {
  display: flex;
  flex-direction: column;
}

.scorer {
  border: var(--main-border);
  min-width: 20rem;
  list-style: none;
  padding: 15px;
}

#refreshbtn {
  border: var(--main-border);
  box-shadow: 3px 3px black;
  background: none;
  height: 2rem;
}

.container-right {
  display: flex;
  flex-direction: column;
  width: 35vw;
  height: 55vh;
  justify-content: space-evenly;
  padding: 2.5vh 2.5vw;
}

#name {
  border: var(--main-border);
  background-color: white;
  padding: 1rem;
}

#name::placeholder {
  color: black;
  font-size: 1rem;
}

#score {
  border: var(--main-border);
  background-color: white;
  padding: 1rem;
}

#score::placeholder {
  color: black;
  font-size: 1rem;
}

#addbtn {
  border: var(--main-border);
  box-shadow: 3px 3px black;
  background: none;
  width: fit-content;
  align-self: flex-end;
}
